<div class="container" style="height: 1120px; margin-top:20px">
  <div class="container">
    <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
    </div>
    <div class="row g-5">
      <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="card border-primary">
          <div class="card-body">
            <h4 style="color: #020714">🤖 Bot Trending</h4>
            <p class="mb-4" style="color: #030b1d; font-size: 20px;">Bot
              Trending is an automation tool designed to track and provide
              forecasts on new trends and hot tokens in the cryptocurrency
              market. With the ability to scan information from many reliable
              sources, Bot Trending helps you not miss any opportunities or
              risks in the rapidly growing cryptocurrency market.</p>
            <p class="mb-4" style="color: #020a1f; font-size: 20px;">🔍 Main
              Features:<br />Trending Off-chain ALT Coin: Bot Trending provides
              information on trends and forecasts about prominent ALT Coins on
              major exchanges, helping you identify potential investment
              opportunities. Off-chain Trends Forecast: With the ability to
              analyze big data and use machine learning models, Bot Trending
              provides forecasts of new trends in the off-chain cryptocurrency
              market, helping you make decisions Smart investment. Update New
              On-chain Tokens: Bot Trending not only tracks off-chain trends but
              also provides information about new tokens listed on-chain,
              helping you capture the earliest investment opportunities.
              Automatic Notifications: Bot Trending sends automatic
              notifications when there are new trends or tokens that match your
              investment criteria, helping you not miss any opportunities in the
              cryptocurrency market.</p>
            <p class="mb-4" style="color: #03091a; font-size: 20px;">📈
              Benefits:<br />Save time and effort in monitoring the
              cryptocurrency market. Increase smart investment opportunities and
              profits. Minimize risk by forecasting and making investment
              decisions based on analytical data and market trends. With Bot
              Trending, you can become a smarter and more confident
              cryptocurrency investor in your investment decisions.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="card border-primary">
          <div class="card-body">
            <h4 style="color: #030918">🤖 Bot Check SmartContract</h4>
            <p class="mb-4" style="color: #020817; font-size: 20px;">
              Bot is an automated tool developed to check and monitor important
              information and latest updates in the cryptocurrency market. With
              automation capabilities, this bot helps you update information
              quickly and effectively, helping you make smart investment
              decisions.</p>
            <p class="mb-4" style="color: #030b21; font-size: 20px;">🔍 Main
              Features:<br />Check Smart Contract On-chain: Information Check
              Bot will automatically check information related to smart
              contracts on the Ethereum (ETH) blockchain, including information
              about smart contracts, transactions, balances and much more
              information. Track Updates: The bot will automatically monitor and
              update the latest information about the smart contracts you are
              interested in, helping you access information as quickly as
              possible. Automatic Notifications: The bot will send automatic
              notifications when there are any important changes related to the
              smart contracts you follow, such as new transactions, contract
              updates, or any other important information. other. Customization:
              You can customize settings and criteria so that the bot only
              notifies you of the most important and meaningful information.</p>
            <p class="mb-4" style="color: #020a1c; font-size: 20px;">📈
              Benefits:<br />Save time and effort in checking and tracking
              information about smart contracts on the blockchain. Increase your
              safe and effective investment opportunities by accessing the
              latest and most detailed information. Minimize risk and optimize
              the investment decision-making process through automated and
              customized notifications. With the News Checker Bot, you can rest
              assured that you will not miss any important information in the
              volatile cryptocurrency market.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>