{{! <h1
  style="color:rgb(214, 206, 206); border:black solid 2px; border-radius: 6px; width:720px; background-color:rgb(51, 50, 50);margin-left:380px; margin-top:10px; padding-left:10px; padding-left:25px"
>
  NEW TOKEN ON-CHAIN ETH LISTING
</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="contract-table-wrapper">
        <table class="contract-table">
          <thead>
            <tr>
              <th>ON-CHAIN ETH LISTING</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <img
        src="assets/BotCall.png"
        alt=""
        class="img-thumbnail"
        style="height: auto; width: auto"
      />
      <div
        class="form-container"
        style="width: 300px; margin-left:110px;border:black solid 2px; border-radius: 6px; background-color:rgb(51, 50, 50)"
      >
        <form id="botForm" action="/botTrending/getOff" method="get">
          <button
            class="btn btn-outline-secondary"
            style=" background-color:rgb(239, 235, 235)"
          >COMMAND NOTIFICATIONS </button>
        </form>
      </div>
      <div
        class="form-container"
        style="width: 300px; margin-left:110px;border:black solid 2px; border-radius: 6px; background-color:rgb(51, 50, 50)"
      >
        <form id="botForm" action="/botCheck" method="get">
          <button
            class="btn btn-outline-secondary"
            style=" background-color:rgb(239, 235, 235)"
          >CALL BOT CHECK </button>
        </form>
      </div>

    </div>
  </div>
</div> }}

<h1
  style="color:rgb(214, 206, 206); border:black solid 2px; border-radius: 6px; width:720px; background-color:rgb(51, 50, 50);margin-left:380px; margin-top:10px; padding-left:25px;"
>
  NEW TOKEN ON-CHAIN ETH LISTING
</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div
        class="contract-table-wrapper"
        id="contract-table-wrapper"
        style="  height: 850px;"
      >
        <table class="contract-table" id="contract-table">
          <thead>
            <tr>
              <th>ON-CHAIN ETH LISTING</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <img
        src="assets/BotCall.png"
        alt=""
        class="img-thumbnail"
        style="height: auto; width: auto"
      />
      <div
        class="form-container"
        style="width: 300px; margin-left:110px;border:black solid 2px; border-radius: 6px; background-color:rgb(51, 50, 50)"
      >
        <form id="botForm" action="/botTrending/getOff" method="get">
          <button
            class="btn btn-outline-secondary"
            style="background-color:rgb(239, 235, 235)"
          >COMMAND NOTIFICATIONS </button>
        </form>
      </div>
      <div
        class="form-container"
        style="width: 300px; margin-left:110px;border:black solid 2px; border-radius: 6px; background-color:rgb(51, 50, 50)"
      >
        <form id="botForm" action="/botCheck" method="get">
          <button
            class="btn btn-outline-secondary"
            style="background-color:rgb(239, 235, 235)"
          >CALL BOT CHECK </button>
        </form>
      </div>
    </div>
  </div>
</div>