<div
  style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh; text-align: center; background-color: #181717; padding: 20px;"
>
  <div
    style=" color: #fff; border-radius: 10px; padding: 20px; margin-bottom: 20px; width: 100%; max-width: 800px;"
  >

    <h1 style="color: #d6cece; margin-top: 50px;">CryptoCommerce</h1>
    <img
      src="https://cryptocurrencycompany.files.wordpress.com/2021/11/nft.jpg"
      alt="MCTK Image"
      style="max-width: 100%; height: auto; border-radius: 10px; margin-top: 10px;"
    />
    <p style="margin-top: 10px; color: #ccc;">
      MCTK is an ERC-20 token on the Ethereum network. This token represents the
      service when using bots and helps maintain liquidity. It plays a vital
      role in the DeFi ecosystem. With MCTK, you can perform transactions and
      maintain liquidity efficiently.
    </p>
    <p style="margin-top: 10px; color: #ccc;">
      NFTs, specifically FIFA Word Legend and FIFA Word Best, provide a unique
      and advanced solution for managing digital assets. With robust
      interoperability, these NFTs allow users to create, exchange, and manage
      their assets effectively and securely on the Ethereum blockchain.
    </p>

    <div
      style="margin-top: 20px; display: flex; justify-content: space-around;"
    >
      <form action="/nft" method="get">
        <button
          style="background-color: #FF9900; color: #0f0b0b; border: none; padding: 15px 30px; font-size: 16px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease; width: 200px; "
        >
          Go to Collection FIFA Word Legend
        </button>
      </form>

      <form action="/nft/wordbest" method="get">
        <button
          style="background-color: #FF9900; color: #0f0b0b; border: none; padding: 15px 30px; font-size: 16px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease; width: 200px;"
        >
          Go to Collection FIFA Word Best
        </button>
      </form>
    </div>
  </div>
</div>
<br />
<br />

<h1
  style="font-size: 1.8rem; color: #333; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 2px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); margin-left: 65px"
>Services Bots</h1>

<div
  class="container"
  style="background-image:url(https://coingape.com/wp-content/uploads/2024/02/Ethereum-ERC-404.jpeg); background-size:cover; background-repeat:no-repeat; height: 700px; margin-top:30px; width: 2000px;"
>
  <div class="container py-5">
    <div class="row g-5 align-items-center" style="margin-top:50px ;">
      <div class="col-lg-6" style="width:300px;">
        <div class="card border-primary">
          <img
            src="assets/BotCall.png"
            class="card-img-top"
            alt="Bot Trending Image"
            style="height: 100px;"
          />
          <div class="card-body">
            <h5 class="card-title text-success">Bot Trending</h5>

            <form action="/botTrending" method="get">
              <button
                class="btn-outline-dark"
                style="border-radius: 20px; color: rgb(8, 1, 1);"
              >CALL 🤖</button>
            </form>
          </div>
        </div>
        <br />
        <div class="card border-primary">
          <img
            src="assets/BotCheck.png"
            class="card-img-top"
            alt="Bot Check SmartContract Image"
            style="height: 100px;"
          />
          <div class="card-body">
            <h5 class="card-title text-success">Bot Check SmartContract</h5>

            <form action="/botCheck" method="get">
              <button
                class="btn-outline-dark"
                style="border-radius: 20px;  color: rgb(12, 1, 1);"
              >CALL 🤖</button>
            </form>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 animated fadeIn"
        style="width: 450px; heigth: 500px; margin-left:560px"
      ><a href="/about" class="image-link">
          <img
            class="img-fluid animated pulse infinite img-thumbnail"
            style="animation-duration: 3s; width: 550px; border: 2px solid rgb(22, 20, 20);   border-radius: 80px 0px 80px"
            src="assets/Logo.png"
            alt=""
          /></a>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 50px;">
  <h1
    style="font-size: 1rem; color: #333;  margin-bottom: 30px; text-transform: uppercase; letter-spacing: 2px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); margin-left: 70px"
  >Market Cap</h1>
</div>
<div class="container">
  <div class="trending-table-container">

    <table class="trending-table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Icon</th>
          <th>Name Token</th>
          <th>Symbol</th>
          <th>Current Price</th>
          <th>Percentage 24h</th>
          <th>Price Change 24h</th>
          <th>Total Volume</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tokenListHome">

      </tbody>
    </table>
  </div>
</div>