<div
  class="container"
  style="background-image:url(https://coingape.com/wp-content/uploads/2024/02/Ethereum-ERC-404.jpeg); background-size:cover; background-repeat:no-repeat; height: 730px; margin-top:30px; width: 2000px;"
>
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6" style="width:350px;">
        <div class="card border-primary">
          <img
            src="assets/BotCall.png"
            class="card-img-top"
            alt="Bot Trending Image"
            style="height: 150px;"
          />
          <div class="card-body">
            <h5 class="card-title text-success">Bot Trending</h5>

            <form action="/botTrending" method="get">
              <button class="btn btn-outline-dark rounded-0 px-3 py-1">CALL 🤖</button>
            </form>
          </div>
        </div>
        <br />
        <div class="card border-primary">
          <img
            src="assets/BotCheck.png"
            class="card-img-top"
            alt="Bot Check SmartContract Image"
            style="height: 170px;"
          />
          <div class="card-body">
            <h5 class="card-title text-success">Bot Check SmartContract</h5>

            <form action="/botCheck" method="get">
              <button class="btn btn-outline-dark rounded-0 px-3 py-1">CALL 🤖</button>
            </form>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 animated fadeIn"
        style="width: 650px; heigth: 500px; margin-left:320px"
      ><a href="/about" class="image-link">
          <img
            class="img-fluid animated pulse infinite img-thumbnail"
            style="animation-duration: 3s; width: 550px; border: 2px solid rgb(22, 20, 20);   border-radius: 80px 0px 80px"
            src="assets/Logo.png"
            alt=""
          /></a>
      </div>
    </div>
  </div>
</div>