{{! <div style="height: 795px;">
  <div style="margin-top: 250px ;">
    <form
      action="/register"
      method="post"
      class="p-3 mx-auto"
      style="max-width: 400px;"
    >
      <div class="mb-3">
        <label
          for="Username"
          class="form-label"
          style="color:aliceblue;"
        >Username</label>
        <input
          type="text"
          id="Username"
          name="Username"
          class="form-control"
          placeholder="Username"
          required
        />
      </div>
      <div class="mb-3">
        <label
          for="Email"
          class="form-label"
          style="color:aliceblue"
        >Email</label>
        <input
          type="email"
          id="Email"
          name="Email"
          class="form-control"
          placeholder="Email"
          required
        />
      </div>
      <div class="mb-3">
        <label
          for="Phone"
          class="form-label"
          style="color: aliceblue ;"
        >Phone</label>
        <input
          type="tel"
          id="Phone"
          name="Phone"
          class="form-control"
          placeholder="Phone"
          required
        />
      </div>
      <div class="mb-3">
        <label
          for="Password"
          class="form-label"
          style="color:aliceblue ;"
        >Password</label>
        <input
          type="password"
          id="Password"
          name="Password"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>
      <button class="btn btn-light">Register</button>
    </form>
  </div>
</div> }}

<div class="custom-container">
  <div class="custom-form-container mx-auto">
    <form action="/register" method="post" style="color: black;">
      <div class="mb-3">
        <label
          for="Username"
          class="custom-form-label"
          style="color: black;"
        >Username</label>
        <input
          type="text"
          id="Username"
          name="Username"
          class="custom-form-control"
          placeholder="Username"
          required
        />
      </div>
      <div class="mb-3">
        <label
          for="Email"
          class="custom-form-label"
          style="color: black;"
        >Email</label>
        <input
          type="email"
          id="Email"
          name="Email"
          class="custom-form-control"
          placeholder="Email"
          required
        />
      </div>
      <div class="mb-3">
        <label
          for="Phone"
          class="custom-form-label"
          style="color: black;"
        >Phone</label>
        <input
          type="tel"
          id="Phone"
          name="Phone"
          class="custom-form-control"
          placeholder="Phone"
          required
        />
      </div>
      <div class="mb-3">
        <label
          for="Password"
          class="custom-form-label"
          style="color: black;"
        >Password</label>
        <input
          type="password"
          id="Password"
          name="Password"
          class="custom-form-control"
          placeholder="Password"
          required
        />
      </div>
      <button class="custom-btn-register">Register</button>
    </form>
  </div>
</div>