<h1
  style="color:rgb(214, 206, 206); border:black solid 2px; border-radius: 6px; width:614px; background-color:rgb(51, 50, 50); margin-left:400px ; margin-top:50px"
>TRENDING OFF-CHAIN ALT COIN</h1>

<div
  class="form-container"
  style="color:rgb(214, 206, 206); border:black solid 2px; border-radius: 6px; width:400px; background-color:rgb(51, 50, 50); height:80px; margin-left:500px"
>
  <form id="botForm" action="/botTrending" method="get">
    <button
      class="btn btn-outline-secondary"
      style=" background-color:rgb(239, 235, 235)"
    >BACK NEW TOKEN ETH LISTING 🤖</button>
  </form>
</div>

<div class="container">
  <div class="trending-table-container">

    <table class="trending-table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Icon</th>
          <th>Name Token</th>
          <th>Symbol</th>
          <th>Current Price</th>
          <th>Command Notification</th>
        </tr>
      </thead>
      <tbody id="tokenListBody">
      </tbody>
    </table>
  </div>
</div>