<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <script src="https://c0f4f41c-2f55-4863-921b-sdk-docs.github.io/cdn/metamask-sdk.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/qrious@4.0.2/dist/qrious.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@metamask/sdk@9.1.0/dist/metamask-sdk.min.js"></script>
 
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ethjs@0.3.4/dist/ethjs.min.js"></script>


     <link href="/css/styles.css" rel="stylesheet"/>
     <link href="/css/style.css" rel="stylesheet" />

  </head>
  
  <body style=" background-image: url({{back}});width:100%; height:155vh; background-size: cover; background-position: center; margin: 0; padding: 0">
    {{> header}}

    <div >
     {{{body}}}
    </div>

    {{> footer}}
  </body>

  <script src="https://cdn.jsdelivr.net/npm/@metamask/detect-provider"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js" integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.0/dist/web3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="/metaMash.js"></script>
    <script src="/updateNew.js"></script>
    <script src="/updateAr.js"></script>
    <script src="/deleteNew.js"></script>
    <script src="/getTrending.js"></script>
    <script src="/updateBot.js"></script>
    <script src="/getOff.js"></script>
 
    

</html>
